# Игнорировать файлы, созданные операционной системой
.DS_Store

# Игнорировать виртуальное окружение Python
venv_dtmf
.env

# Игнорировать файлы с расширением .log
*.log

# Игнорировать папку с компилированными файлами
__pycache__/
TEST/
audio/